<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Comments</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">

		var threadID = '<%= id %>';

		function connectionFunction() {
			$.get('/getusername', function(data) {
		      var personalSocket = io.connect('/' + data);
		      personalSocket.on('chat notification', function(sender, sessionID, chatID) {
		          document.getElementById('notif').innerHTML = 
		          	'<a href=\'\\joinchat?sessionID='+sessionID+'&chatID='+chatID+'\'>'+sender+' has invited you to join a chat. Click to join</a>'; 
		      });
			});
		};

		function addEvents() {
			$('#commentForm').submit(function(e) {
				e.preventDefault();
				var comment = document.getElementById('comment').value;
				if (comment == '') {
					document.getElementById('error_msg').innerHTML = 'Connot post an empty comment';
				} else {
					var time = new Date();
					var time_str = time.toString();
					$.post('/addcomment', {comment: comment, threadID: threadID, time: time_str}, function(data) {
						if (data == 'Success') {
							document.getElementById('comment').value = '';
							loadComments();
						}
					});
				}
			});
		};
		function loadComments() {
			$.post('/getcomments', {threadID: threadID}, function(data) {
				data = JSON.parse(data);
				var json = data.Items;
				var html = '';
				for (var i = json.length - 1; i >= 0; i--) {
					var message = json[i].message;
					var poster = json[i].posterID;
					var time = json[i].time;
					var time_formatted = time.slice(0, 21);
					html = html + poster + ' (' + time_formatted + '): ' + message + '<br>'
				}
				document.getElementById('comments_content').innerHTML = html;
			});
		};

		var cache = -1;
		function refreshFunction() {
			$.post('/getcomments', {threadID: threadID}, function(data) {
				data = JSON.parse(data);
				json = data.Items;
				if (json) {
					if (json.length !== cache) {
						loadComments();
						cache = json.length;
					}
				}
			});
		};

		var refreshTime = function() {
    		refreshFunction();
    		setTimeout(refreshTime, 5000);
    	};
    
    	$(document).ready(function() {
    		setTimeout(refreshTime, 5000);
   		});

		window.onload = function() {addEvents(); loadComments(); connectionFunction()}
	</script>
</head>
<body>
	<br>
	<div><font color = 'green'><span id = 'notif'></span></font></div>
	<br>
	<form id = 'commentForm' name = 'commentForm' onsubmit = 'return false'>
		<input type = 'text' id = 'comment' name = 'comment' placeholder = "Comment here">
		<input type="submit" value="Comment">
	</form>
	<font color = 'red'><span id = 'error_msg'></span></font>
	<br>
	<span id = 'comments_content'></span>
	<br>
	<div><a href = '/home'>Click here to go back home</a></div>
	<div><a href = "/logout">Click here to logout</a></div>
</body>
</html>
