<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Edit Profile</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style type="text/css">
  body {
    background-color: white;
  }
  .login-box {
    max-width: 600px;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px auto;

  }
  .login-box .form-control {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .header {
    text-align: center;
    font-weight: 500;
    color: black;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .form-text {
    text-align: center;
  }
  .inner-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  .error-msg {
    color: red;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .footer{ 
    position: fixed;         
    bottom: 5px;
  } 
</style>
<script type="text/javascript">

  function connectionFunction() {
      $.get('/getusername', function(data) {
          var personalSocket = io.connect('/' + data);
          personalSocket.on('chat notification', function(sender, sessionID, chatID) {
              document.getElementById('notif').innerHTML = 
                '<a href=\'\\joinchat?sessionID='+sessionID+'&chatID='+chatID+'\'>'+sender+' has invited you to join a chat. Click to join</a>'; 
          });
      });
    };

  function loadProfile() {
      $.getJSON('/profiledata', function(data) {
        if (data === "ERROR") {
          alert("There was an error");
        } else {
          var profile_data = data.data;
          var username = data.username;
          document.getElementById("username").innerHTML = username;
          document.getElementById('first_name_input').value = profile_data.firstName;
          document.getElementById('last_name_input').value = profile_data.lastName;
          document.getElementById('email').value = profile_data.email;
          document.getElementById('affiliation').value = profile_data.affiliation;
          document.getElementById('interests').value = profile_data.interests;
          document.getElementById('birthday').value = profile_data.birthday;
          document.getElementById('status').value = profile_data.status;
        }
      });
    };

  function validateForm() {
    var firstName = document.forms["update_form"]["first_name_input"].value;
    var lastName = document.forms["update_form"]["last_name_input"].value;
    var emailInput = document.forms["update_form"]["email"].value;
    var affiliationInput = document.forms["update_form"]["affiliation"].value;
    var interestsInput = document.forms["update_form"]["interests"].value;
    var birthdayInput = document.forms["update_form"]["birthday"].value;
    var statusInput = document.forms['update_form']['status'].value;
    if (firstName == "" || lastName == "" || emailInput == "" || affiliationInput == "" || interestsInput == "" || birthdayInput == ""
      || statusInput == "") {
      document.getElementById('err_msg').innerHTML = "<font color=\"red\">Please ensure all the fields are complete!<p></font>";
      return false;
    } else {
      var time = new Date();
      var time_str = time.toString();
      var data = {firstName: firstName, lastName: lastName, email: emailInput, affiliation: affiliationInput, interests: interestsInput, interests: interestsInput, birthday: birthdayInput, status: statusInput};
      $.post('/profilenewsfeed', {data: data, time: time_str}, function(data) {
        if (data == 'Success') {
          //only returns true once the newsfeed has been published
          return true;
        } else {
          return false;
        }
      });
    }
  };

  window.onload = function() {loadProfile(); connectionFunction()}
</script>
</head>
<body>
  <br>
  <div><font color = 'green'><span id = 'notif'></span></font></div>
  <div class = "login-box">
    <div class = "inner-container">
      <div class = "header"><span id = "username"></span>, update your profile:</div>
      <span id = "err_msg"></span>
      <form name = "update_form" id = 'update_form' action="/updateprofile" onsubmit = "return validateForm()" method="post">
        First Name:<input type = "text" id = 'first_name_input' name = "first_name_input" size = "25" class = "form-control" placeholder = "First Name">
        Last Name:<input type = "text" id = 'last_name_input' name = "last_name_input" size = "25" class = "form-control" placeholder = "Last Name">
        Email:<input type = "text" id = 'email' name = "email" size = "25" class = "form-control" placeholder = "Email">
        Affiliation:<input type = "text" id = 'affiliation' name = "affiliation" size = "25" class = "form-control" placeholder = "Affiliation (e.g. Penn)">
        Interests:<input type = "text" id = 'interests' name = "interests" size = "25" class = "form-control" placeholder = "Interests">
        Birthday:<input type = "date" id = 'birthday' name = "birthday" size = "25" class = "form-control" placeholder = "Birthday">
        Status:<input type = "text" id = 'status' name = "status" size = "25" class = "form-control" placeholder = "Status">
        <input type="submit" value="Publish Updates" class="btn btn-lg btn-primary btn-block">
      </form>
    </div>
  </div>
  <div class = "footer"><a href = "/logout">Click here to logout</a></div>
</body>
</html>