<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Home</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<style type ="text/css" >
	   .footer{ 
	       position: fixed;         
	       bottom: 5px;
	   }  
	</style>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">

		function connectionFunction() {
			$.get('/getusername', function(data) {
		      var personalSocket = io.connect('/' + data);
		      personalSocket.on('chat notification', function(sender, sessionID, chatID) {
		          document.getElementById('notif').innerHTML = 
		          	'<a href=\'\\joinchat?sessionID='+sessionID+'&chatID='+chatID+'\'>'+sender+' has invited you to join a chat. Click to join</a>'; 
		      });
			});
		};

		function searchUser() {
			$('#search_err').hide();
			var user = document.forms["searchForm"]["search_username"].value;
			if (user == '') {
				document.getElementById('err_msg').innerHTML = "<font color=\"red\">Please enter a search term<p></font>";
				return false;
			}
		};
		function updateSuggestions() {
			var term = document.getElementById('search_username').value;
			if (term == '') {
				document.getElementById('suggestions').innerHTML = '';
				return false;
			}
			$.post('/searchsuggestions', {term: term}, function(data) {
				var list = JSON.parse(data);
				var html = ''
				for (var i = 0; i < list.length; i++) {
					html = html + list[i] + ', ';
				}
				html = html.replace(/,([^,]*)$/, '$1');
				document.getElementById('suggestions').innerHTML = html;
			});
		};
		function addEvents() {
			$('#updateStatusForm').submit(function(e) {
				e.preventDefault();
				var new_status = document.getElementById('status_update').value;
				if (new_status == '') {
					document.getElementById('err_msg').innerHTML = "<font color=\"red\">Status cannot be empty<p></font>";
				} else {
					$.post('/updatestatus', {new_status: new_status}, function(data) {
						if (data == 'Success') {
							document.getElementById('status_update').value = '';
							document.getElementById('status_msg').innerHTML = 'Successfully updated status!';
							updateNewsfeed(new_status);
						}
					});
				}
			});
		};
		function updateNewsfeed(new_status) {
			var time = new Date();
			var time_str = time.toString();
			$.post('/addnewsfeed', {new_status: new_status, time: time_str}, function(data) {
				console.log('Did newsfeed update work: '+data);
			});
		};
		function loadNewsfeed() {
			$.getJSON('/loadnewsfeed', function(data) {
				var json = data.Items;
				var html = '';
				for (var i = json.length - 1; i >= 0; i--) {
					var message = json[i].message;
					var poster = json[i].posterID;
					var time = json[i].time;
					html = html + '<br><b>'+poster+' Update:</b><br>'+message+'<br>Time: '+time+'<br>'+'<a href = \'\\comments?id='+poster+time+'\'>View and add comments to this post</a><br>';
				}
				document.getElementById('newsfeed_content').innerHTML = html;
			});
		};
		var cache = -1;
		function refreshFunction() {
			$.getJSON('/loadnewsfeed', function(data) {
				var json = data.Items;
				if (json.length !== cache) {
					loadNewsfeed();
					cache = json.length;
				}
			});
		}
		var refreshTime = function() {
    		refreshFunction();
    		setTimeout(refreshTime, 5000);
    	};
    
    	$(document).ready(function() {
    		setTimeout(refreshTime, 5000);
   		});
		window.onload = function() {addEvents(); loadNewsfeed(); connectionFunction()}
	</script>
</head>
<body>
	<br>
	<div><font color = 'green'><span id = 'notif'></span></font></div>
	<br>
	<a href = "/profile">Click here to view your profile</a>
	<br>
	<br>
	<a href = '/visualize'>Click here to visualize your friend network</a>
	<br>
	<br>
	<a href = '/startchat'>Click here to chat with people</a>
	<br>
	<div id = 'search_err'><font color="red"><%= home_error_msg %><p></font></div>
	<span id = "err_msg"></span>
	<form action = '/searchUser' name = 'searchForm' id = 'searchForm' onsubmit = 'return searchUser();' method = 'post' onkeyup = 'updateSuggestions()'>
		<input type = 'text' id = 'search_username' name = 'search_username' placeholder = "Search by Username">
		<input type="submit" value="Search">
	</form>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<span id="suggestions"></span>
	<br>
	<form id = 'updateStatusForm' name = 'updateStatusForm' onsubmit = 'return false'>
		<input type = 'text' id = 'status_update' name = 'status_update' placeholder = "Update Your Status">
		<input type="submit" value="Update">
	</form>
	<font color = 'green'><span id = 'status_msg'></span></font>
	<br>
	<h3>Newsfeed:</h3>
	<span id = "newsfeed_content"></span>
	<div><a href = "/logout">Click here to logout</a></div>
</body>
</html>
