<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Signup</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style type="text/css">
  body {
    background-color: white;
  }
  .login-box {
    max-width: 600px;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px auto;

  }
  .login-box .form-control {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .header {
    text-align: center;
    font-weight: 500;
    color: black;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .form-text {
    text-align: center;
    padding-top: 5px;
  }
  .inner-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  .error-msg {
    color: red;
    padding-bottom: 5px;
    padding-top: 5px;
  }
</style>
<script type="text/javascript">
  function validateForm() {
    var user_name = document.forms["signupForm"]["username_input"].value;
    var password = document.forms["signupForm"]["password_input"].value;
    var firstName = document.forms["signupForm"]["first_name_input"].value;
    var lastName = document.forms["signupForm"]["last_name_input"].value;
    var emailInput = document.forms["signupForm"]["email"].value;
    var affiliationInput = document.forms["signupForm"]["affiliation"].value;
    var interestsInput = document.forms["signupForm"]["interests"].value;
    var birthdayInput = document.forms["signupForm"]["birthday"].value;
    var statusInput = document.forms['signupForm']['status'].value;
    if (user_name == "" || password == "" || firstName == "" || lastName == "" || emailInput == "" || affiliationInput == "" || interestsInput == "" || birthdayInput == "" || statusInput == "") {
      document.getElementById('err_msg').innerHTML = "<font color=\"red\">Please ensure all the fields are complete<p></font>";
      return false;
    }
    $.post('/createaccount', $('#signupForm').serialize(), function(data) {
      if(data === 'Username Exists') {
         document.getElementById('err_msg').innerHTML = "<font color=\"red\">Username already exists<p></font>";
      } else if (data === 'Success') {
        $.post('/createprofile', $('#signupForm').serialize(), function(data) {
          if (data === 'Success adding profile') {
            location.href = '/home';
          }
        });
      }
    });
  };
</script>
</head>
<body>
  <div class = "login-box">
    <div class = "inner-container">
      <div class = "header">Signup Page</div>
      <span id = "err_msg"></span>
      <form name = "signupForm" id = 'signupForm' onsubmit = "validateForm(); return false">
        <input type = "text" name = "username_input" size = "25" class = "form-control" placeholder = "Username">
        <input type = "text" name = "password_input" size = "25" class = "form-control" placeholder = "Password">
        <input type = "text" name = "first_name_input" size = "25" class = "form-control" placeholder = "First Name">
        <input type = "text" name = "last_name_input" size = "25" class = "form-control" placeholder = "Last Name">
        <input type = "text" name = "email" size = "25" class = "form-control" placeholder = "Email">
        <input type = "text" name = "affiliation" size = "25" class = "form-control" placeholder = "Affiliation (e.g. Penn)">
        <input type = "text" name = "interests" size = "25" class = "form-control" placeholder = "Interests">
        <input type = "date" name = "birthday" size = "25" class = "form-control" placeholder = "Birthday">
        <input type = "text" name = "status" size = "25" class = "form-control" placeholder = "Status">
        <input type="submit" value="Signup" class="btn btn-lg btn-primary btn-block">
        <div class = "form-text">Already have an account? <a href = "/">Login here</a></div>
      </form>
    </div>
  </div>
</body>
</html>