<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link type="text/css" href="../css/base.css" rel="stylesheet" />
<title>Login</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../js/jit.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$.getJSON('/graphdata', function(data) {
		  var to_load = data.json;
		  var affiliation = data.affiliation;

	      var infovis = document.getElementById('infovis');
	      var w = infovis.offsetWidth - 50, h = infovis.offsetHeight - 50;

	      //init Hypertree
	      var ht = new $jit.Hypertree({
	        //id of the visualization container
	        injectInto: 'infovis',
	        //canvas width and height
	        width: w,
	        height: h,
	        //Change node and edge styles such as
	        //color, width and dimensions.
	        Node: {
	            //overridable: true,
	            'transform': false,
	            color: "#f00"
	        },
	    
	        Edge: {
	            //overridable: true,
	            color: "#088"
	        },
	        //calculate nodes offset
	        offset: 0.2,
	        //Change the animation transition type
	        transition: $jit.Trans.Back.easeOut,
	        //animation duration (in milliseconds)
	        duration:1000,
	        //Attach event handlers and add text to the
	        //labels. This method is only triggered on label
	        //creation
	        
	        onCreateLabel: function(domElement, node){
	            domElement.innerHTML = node.name;
	            domElement.style.cursor = "pointer";
	            
	            domElement.onclick = function() {
	            	//need to change to get friends
	                $.post('/getFriends', {username: node.id, affiliation: affiliation}, function(json) {
	                	json = JSON.parse(json);
	                    ht.op.sum(json, {
	                        type: "fade:seq",
	                        fps: 30,
	                        duration: 1000,
	                        hideLabels: false,
	                        onComplete: function(){
	                            console.log("New nodes added!");
	                        }
	                    });
	                });
	            }
	        },
	        //Change node styles when labels are placed
	        //or moved.
	        onPlaceLabel: function(domElement, node){
	                var width = domElement.offsetWidth;
	                var intX = parseInt(domElement.style.left);
	                intX -= width / 2;
	                domElement.style.left = intX + 'px';
	        },
	        
	        onComplete: function(){
	        }
	        
	      });
	      ht.loadJSON(to_load);
	      //compute positions and plot.
	      ht.refresh();
	      //end
	      ht.controller.onBeforeCompute(ht.graph.getNode(ht.root));
	      ht.controller.onAfterCompute();
	      ht.controller.onComplete();
		});
	});
	
</script>
</head>
<body>
	<h1>Your Network:</h1>
	<br>

	<div id="container">
		<div id="center-container">
   			<div id="infovis"></div>    
		</div>
	</div>
	<div><a href = "/logout">Click here to logout</a></div>
	<div><a href = '/home'>Go back to home page</a></div>
</body>
</html>
